h1 Gallery
div(class="thumbnals")
	div(class="col-md-4", ng-repeat="pic in pictures")
		img(ng-src="{{pic.url}}")
		rating(ng-model="rate", max="max", readonly="isReadOnly")
			h3 {{pic.title}}
			p {{pic.summary}}